/* MAIN */
/* slogan */
.main__slogan {
  position: relative;
  color: $color1;
  height: 400px;
  width: 100%;
}

.slogan__h2 {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(17, 57, 70, 0.9);
  padding: 10px;
  border-radius: 10px;
  font-weight: 100;
}

.slogan__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* formas de trabajo */
.main__formas {
  margin: 70px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "titulo titulo"
    "forma1 forma2";
  gap: 50px;
  justify-items: center;
  color: $color4;
}

.formas__h2 {
  grid-area: titulo;
}

.formas__online {
  grid-area: forma1;
}

.formas__diseñador {
  grid-area: forma2;
}

.formas__online,
.formas__diseñador {
  background-color: $color1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
}

.online__h1,
.diseñador__h1 {
  font-weight: 500;
}

.online__p,
.diseñador__p {
  font-weight: 300;
}

.online__a,
.diseñador__a {
  background-color: $color4;
  color: $color1;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;

  &:hover,
  &:hover {
    background-color: $color1;
    border: solid 1px $color3;
    color: $color4;
  }
}

/* categorias */
.categorias {
  margin: 70px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "encabezado"
    "bloques";
  justify-items: center;
  text-align: center;
  color: $color4;
}

.categorias__encabezado {
  grid-area: encabezado;
  margin: 10px 0;
}

.encabezado__p {
  margin: 10px 20px;
  font-weight: 300;
}

.categorias__bloques {
  grid-area: bloques;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categorias__a {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color4;
  height: 182px;
  border: solid 1px $color1;
  border-radius: 10px;
}

.categorias__a:hover {
  border: solid 1px $color3;
  border-radius: 10px;
}

.categorias__p {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 10%;
  font-weight: 500;
}

.categorias__img {
  border-radius: 10px;
  width: 180px;
}

/* colores */
.main__colores {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 40px;
  color: $color4;
}

.colores__h1 {
  margin-bottom: 40px;
}

.colores__circulos {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  background-color: $color4;
  padding: 10px;
  border-radius: 40px;
}

.circulo1,
.circulo2,
.circulo3,
.circulo4,
.circulo5,
.circulo6,
.circulo7,
.circulo8 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.circulo1 {
  background-color: #d1b795;
}

.circulo2 {
  background-color: #98999b;
}

.circulo3 {
  background-color: #0f1012;
}

.circulo4 {
  background-color: #36b7c9;
}

.circulo5 {
  background-color: #cbd969;
}

.circulo6 {
  background-color: #ffe143;
}

.circulo7 {
  background-color: #f0892a;
}

.circulo8 {
  background-color: #e8608e;
}

/* referencias */
.main__referencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 80px 40px;
  color: $color4;
}

.referencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.referencia__img {
  width: 300px;
  margin: 20px 0;
}
