/* VARIABLES */
$color1: #f7f6f2;
$color2: #f0e5cf;
$color3: #c8c6c6;
$color4: #113946;
$font-family: "Figtree", sans-serif;
$base-font-size: 18px;

/* variables.scss */
$breakpoint-1440: 1440px;
$breakpoint-1200: 1200px;
$breakpoint-1024: 1024px;
$breakpoint-900: 900px;
$breakpoint-768: 768px;
$breakpoint-650: 650px;
$breakpoint-480: 480px;
$breakpoint-414: 414px;

$titulos: (
"textoPequeño": 12px,
"textoSecundario": 14px,
"textoPrincipal": 16px,
"subtituloSecundario": 20px,
"subtituloPrincipal": 24px,
"secundario": 30px,
"principal": 40px
);