@import "variables";
@import "mixins";
@import "each";
@import "extend";
@import "base";
@import "global";
@import "header";
@import "footer";
@import "index";
@import "muebles";
@import "galeria";
@import "about";
@import "contacto";
@import "utils/media-queries";


/* Animación para las imágenes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}