@charset "UTF-8";
/* VARIABLES */
/* variables.scss */
.titulo-textoPequeño {
  font-size: 12px;
}

.titulo-textoSecundario {
  font-size: 14px;
}

.titulo-textoPrincipal {
  font-size: 16px;
}

.titulo-subtituloSecundario {
  font-size: 20px;
}

.titulo-subtituloPrincipal {
  font-size: 24px;
}

.titulo-secundario {
  font-size: 30px;
}

.titulo-principal {
  font-size: 40px;
}

.btn-comun, .diseñador__a, .online__a {
  background-color: #113946;
  color: #f7f6f2;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.btn-comun:hover, .diseñador__a:hover, .online__a:hover {
  background-color: #f7f6f2;
  border: solid 1px #c8c6c6;
  color: #113946;
}

/* RESET */
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

html {
  color: #113946;
  background-color: #f7f6f2;
  min-width: 350px;
}

/* HEADER */
.header__row {
  height: 120px;
}

.header__a {
  margin: 0 50px;
}

.header__img {
  width: 350px;
}

/* BARRA DE NAVEGACIÓN */
.navbar-collapse {
  justify-content: center;
}

.nav__ul {
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav__a {
  color: #113946;
}
.nav__a:hover {
  color: rgb(36.9310344828, 123.8275862069, 152.0689655172);
}

/* FOOTER */
.footer {
  background-color: #113946;
}

.footer__row {
  height: 180px;
}

/* logo */
.footer__logof {
  text-align: center;
}

.logof__img {
  width: 280px;
  margin-top: 10px;
}

/* rrss */
.rrss__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.rrss__a {
  color: #f7f6f2;
}

/* derechos */
.footer__derechos {
  color: #f7f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
/* slogan */
.main__slogan {
  position: relative;
  color: #f7f6f2;
  height: 400px;
  width: 100%;
}

.slogan__h2 {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(17, 57, 70, 0.9);
  padding: 10px;
  border-radius: 10px;
  font-weight: 100;
}

.slogan__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* formas de trabajo */
.main__formas {
  margin: 70px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "titulo titulo" "forma1 forma2";
  gap: 50px;
  justify-items: center;
  color: #113946;
}

.formas__h2 {
  grid-area: titulo;
}

.formas__online {
  grid-area: forma1;
}

.formas__diseñador {
  grid-area: forma2;
}

.formas__online,
.formas__diseñador {
  background-color: #f7f6f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
}

.online__h1,
.diseñador__h1 {
  font-weight: 500;
}

.online__p,
.diseñador__p {
  font-weight: 300;
}

/* categorias */
.categorias {
  margin: 70px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-template-areas: "encabezado" "bloques";
  justify-items: center;
  text-align: center;
  color: #113946;
}

.categorias__encabezado {
  grid-area: encabezado;
  margin: 10px 0;
}

.encabezado__p {
  margin: 10px 20px;
  font-weight: 300;
}

.categorias__bloques {
  grid-area: bloques;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categorias__a {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #113946;
  height: 182px;
  border: solid 1px #f7f6f2;
  border-radius: 10px;
}

.categorias__a:hover {
  border: solid 1px #c8c6c6;
  border-radius: 10px;
}

.categorias__p {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 10%;
  font-weight: 500;
}

.categorias__img {
  border-radius: 10px;
  width: 180px;
}

/* colores */
.main__colores {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 40px;
  color: #113946;
}

.colores__h1 {
  margin-bottom: 40px;
}

.colores__circulos {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  background-color: #113946;
  padding: 10px;
  border-radius: 40px;
}

.circulo1,
.circulo2,
.circulo3,
.circulo4,
.circulo5,
.circulo6,
.circulo7,
.circulo8 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.circulo1 {
  background-color: #d1b795;
}

.circulo2 {
  background-color: #98999b;
}

.circulo3 {
  background-color: #0f1012;
}

.circulo4 {
  background-color: #36b7c9;
}

.circulo5 {
  background-color: #cbd969;
}

.circulo6 {
  background-color: #ffe143;
}

.circulo7 {
  background-color: #f0892a;
}

.circulo8 {
  background-color: #e8608e;
}

/* referencias */
.main__referencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 80px 40px;
  color: #113946;
}

.referencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.referencia__img {
  width: 300px;
  margin: 20px 0;
}

/* PAGINA MUEBLES */
.main__muebles {
  margin: 0 auto;
  max-width: 1070px;
  color: #113946;
}

.muebles__galeria {
  margin-bottom: 80px;
}

/* 1 */
.muebles__h1 {
  padding: 20px 0;
  border-top: solid 1px #c8c6c6;
  font-weight: 400;
}

/* 2 */
.etiquetas {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.etiquetas__texto {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

/* 3 */
.muebles__imagen {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 50px 10px;
  justify-content: center;
}

.imagen__a {
  color: #113946;
  text-align: center;
  text-decoration: none;
}

.imagen__a:hover {
  font-weight: bold;
  font-size: 16px;
}

.imagen__a:active {
  font-weight: 600;
  color: #c8c6c6;
}

.imagen__img {
  width: 350px;
}

.imagen__p {
  margin: 5px;
}

/* PAGINA GALERÍA */
.main__galeria {
  max-width: 1070px;
  margin: 0 auto;
  color: #113946;
}

.galeria__h1 {
  padding: 20px 0;
  border-top: solid 1px #c8c6c6;
  font-weight: 400;
}

/* estilos galerías */
.galerias {
  margin: 0 auto;
  display: flex;
  width: 90%;
  max-width: 1070px;
  height: 500px;
  overflow: hidden;
}

.galerias img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}

.galerias img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* textos galerías */
.galeria__h3 {
  margin-top: 60px;
  font-weight: 400;
  text-align: center;
}

.galeria__p {
  text-align: justify;
  font-weight: 300;
}

/* PAGINA ABOUT */
.main__about {
  max-width: 1070px;
  margin: 0 auto;
  color: #113946;
  padding: 0 15px;
}

.about__h1 {
  padding: 20px 0;
  border-top: solid 1px #c8c6c6;
  font-weight: 400;
  text-align: center;
}

.about__div {
  margin: 0 auto;
  max-width: 800px;
}

.about__div p {
  margin: 40px 0;
  text-align: justify;
}

.about__img {
  width: 100%;
  height: auto;
  animation: fadeIn 1.5s ease-out;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.about__img:hover {
  transform: scale(1.05);
}

/* PAGINA CONTACTO */
.main__contacto {
  height: 550px;
  padding: 10px 100px;
  color: #113946;
}

.h1__contacto {
  padding: 20px 0;
  border-top: solid 1px #c8c6c6;
  font-weight: 400;
}

.button__contacto {
  background-color: #113946;
  color: #f7f6f2;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

/* MEDIA QUERIES INDEX */
@media (max-width: 1440px) {
  .header__img {
    width: 300px;
  }
  .main__slogan {
    font-size: 25px;
    height: 300px;
  }
  .main__formas {
    max-width: 1100px;
  }
  .online, .diseñador {
    font-size: 14px;
    height: 300px;
  }
  .categorias {
    height: 490px;
  }
  .categorias__bloques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: 354px;
  }
  .categorias__a {
    height: 162px;
  }
  .categorias__img {
    width: 160px;
  }
  .colores__circulos {
    width: 800px;
  }
  .circulo1, .circulo2, .circulo3, .circulo4, .circulo5, .circulo6, .circulo7, .circulo8 {
    height: 70px;
    width: 70px;
  }
  .main__referencias {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .referencia {
    width: 700px;
  }
  .referencia1 {
    display: grid;
    grid-template-areas: "img h3" "img p";
  }
  .referencia1__h3 {
    grid-area: h3;
  }
  .referencia1__p {
    grid-area: p;
  }
  .referencia1__img {
    grid-area: img;
  }
  .referencia2 {
    display: grid;
    grid-template-areas: "h3 img" "p img";
  }
  .referencia2__h3 {
    grid-area: h3;
  }
  .referencia2__p {
    grid-area: p;
  }
  .referencia2__img {
    grid-area: img;
  }
  .referencia3 {
    display: grid;
    grid-template-areas: "img h3" "img p";
  }
  .referencia3__h3 {
    grid-area: h3;
  }
  .referencia3__p {
    grid-area: p;
  }
  .referencia3__img {
    grid-area: img;
  }
}
@media (max-width: 1024px) {
  .header__row {
    flex-direction: column;
  }
  .header__img {
    width: 300px;
  }
  .nav__ul {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .main__formas {
    max-width: 800px;
  }
  .online, .diseñador {
    font-size: 14px;
    height: 400px;
  }
  .categorias {
    height: 447px;
  }
  .categorias__bloques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: 334px;
  }
  .categorias__a {
    height: 152px;
  }
  .categorias__img {
    width: 150px;
  }
  .colores__circulos {
    width: 700px;
  }
  .circulo1, .circulo2, .circulo3, .circulo4, .circulo5, .circulo6, .circulo7, .circulo8 {
    height: 60px;
    width: 60px;
  }
  .main__referencias {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .referencia {
    width: 600px;
  }
  .referencia1 {
    display: grid;
    grid-template-areas: "img h3" "img p";
    column-gap: 10px;
  }
  .referencia1__h3 {
    grid-area: h3;
    font-size: 18px;
  }
  .referencia1__p {
    grid-area: p;
  }
  .referencia1__img {
    grid-area: img;
  }
  .referencia2 {
    display: grid;
    grid-template-areas: "h3 img" "p img";
    column-gap: 10px;
  }
  .referencia2__h3 {
    grid-area: h3;
    font-size: 18px;
  }
  .referencia2__p {
    grid-area: p;
  }
  .referencia2__img {
    grid-area: img;
  }
  .referencia3 {
    display: grid;
    grid-template-areas: "img h3" "img p";
    column-gap: 10px;
  }
  .referencia3__h3 {
    grid-area: h3;
    font-size: 18px;
  }
  .referencia3__p {
    grid-area: p;
  }
  .referencia3__img {
    grid-area: img;
  }
}
@media (max-width: 768px) {
  .nav__ul {
    flex-direction: column;
  }
  .nav__a {
    padding: 2px 0px;
  }
  .main__formas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .online, .diseñador {
    width: 400px;
    height: 300px;
    font-size: 14px;
    padding: 35px;
  }
  .categorias {
    height: 610px;
  }
  .categorias__bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 516px;
  }
  .categorias__a {
    height: 152px;
  }
  .categorias__img {
    width: 150px;
  }
  .colores__circulos {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    width: 130px;
  }
  .circulo1, .circulo2, .circulo3, .circulo4, .circulo5, .circulo6, .circulo7, .circulo8 {
    height: 50px;
    width: 50px;
  }
  .main__referencias {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .referencia {
    width: 400px;
  }
  .referencia1 {
    display: grid;
    grid-template-areas: "img" "h3" "p";
  }
  .referencia1__h3 {
    grid-area: h3;
  }
  .referencia1__p {
    grid-area: p;
  }
  .referencia1__img {
    grid-area: img;
    width: 400px;
  }
  .referencia2 {
    display: grid;
    grid-template-areas: "img" "h3" "p";
  }
  .referencia2__h3 {
    grid-area: h3;
  }
  .referencia2__p {
    grid-area: p;
  }
  .referencia2__img {
    grid-area: img;
    width: 400px;
  }
  .referencia3 {
    display: grid;
    grid-template-areas: "img" "h3" "p";
  }
  .referencia3__h3 {
    grid-area: h3;
  }
  .referencia3__p {
    grid-area: p;
  }
  .referencia3__img {
    grid-area: img;
    width: 400px;
  }
}
@media (max-width: 650px) {
  .header__img {
    width: 250px;
  }
  .navbar-toggler-icon {
    width: 20px;
  }
  .slogan__h2 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header__a {
    margin: 0 20px;
  }
  .header__img {
    width: 180px;
  }
  .nav__a {
    font-size: 12px;
  }
  .online, .diseñador {
    width: 300px;
    height: 400px;
  }
  .referencia {
    width: 300px;
  }
  .referencia1, .referencia2, .referencia3 {
    justify-items: center;
  }
  .referencia1__img, .referencia2__img, .referencia3__img {
    grid-area: img;
    width: 250px;
  }
  .referencia__h1 {
    font-size: 16px;
  }
  .referencia1__p, .referencia2__p, .referencia3__p {
    font-size: 12px;
  }
  .footer__derechos {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
  }
}
/* MEDIA QUERIES MUEBLES */
@media (max-width: 1200px) {
  .muebles__h1, .etiquetas {
    margin: 0 70px;
  }
  .muebles__imagen {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px 10px;
    justify-content: center;
  }
  .imagen__img {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .muebles__imagen {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 50px 10px;
    justify-content: center;
  }
  .imagen__img {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .muebles__imagen {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 50px 10px;
    justify-content: center;
  }
  .imagen__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .muebles__h1 {
    margin: 0 80px;
  }
  .etiquetas {
    margin: 0 80px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
  }
  .etiquetas__texto {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .muebles__imagen {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 50px 10px;
    justify-content: center;
  }
  .imagen__img {
    width: 200px;
  }
}
@media (max-width: 650px) {
  .muebles__imagen {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    gap: 50px 10px;
    justify-content: center;
  }
  .imagen__img {
    width: 300px;
  }
}
@media (max-width: 414px) {
  .etiquetas {
    flex-direction: column;
    font-size: 14px;
  }
  .etiquetas__texto {
    flex-direction: row;
    width: 200px;
  }
  .muebles__imagen {
    justify-items: center;
  }
  .imagen__img {
    width: 250px;
  }
}
/* MEDIA QUERIES GALERÍA */
@media (max-width: 1200px) {
  .main__galeria {
    margin: 0 70px;
  }
}
@media (max-width: 768px) {
  .main__galeria {
    margin: 0 80px;
  }
  .galerias {
    flex-direction: column;
    height: auto;
  }
  .galerias img {
    width: 100%;
    flex-grow: unset;
    margin-bottom: 10px;
    opacity: 1;
  }
  .galerias img:hover {
    width: 100%;
    filter: none;
  }
}
@media (max-width: 414px) {
  .galeria__h3 {
    font-size: 18px;
  }
  .galeria__p {
    font-size: 14px;
  }
}
/* MEDIA QUERIES ABOUT */
@media (max-width: 1200px) {
  .main__about {
    padding: 0 30px;
    margin: 0 70px;
  }
  .about__img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .main__about {
    margin: 0 70px;
  }
  .about__div p {
    margin: 30px 0;
  }
  .about__img {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .about__div {
    max-width: 100%;
  }
  .about__img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main__about {
    margin: 0 70px;
  }
  .about__h1 {
    font-size: 24px;
  }
  .about__div p {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .about__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .main__about {
    margin: 0 50px;
  }
  .about__h1 {
    font-size: 20px;
  }
  .about__div p {
    font-size: 12px;
  }
}
/* MEDIA QUERIES CONTACTO */
@media (max-width: 650px) {
  .main__contacto {
    margin: 0 50px;
    padding: 0;
  }
}
/* Animación para las imágenes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=STYLES.css.map */
